
/* To secure correct behavior in older browsers */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;

}

body {
  background-image: url("../img/repeatable-bkg_more-lighter.jpg");
}


#nav-container {
  margin: 0;
  background-color: #e8e8e8;
  background-image: url("../img/repeatable-bkg-light.jpg");
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#header-container {
  background-color: #e8e8e8;
  margin: 0;
  background-image: url("../img/repeatable-bkg-light.jpg");
}

nav {
  width: 480px;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 0 0 0;
  font-size: 0;
}

nav div {
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-margin-before: 1rem;
  -webkit-margin-after: 1rem;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

p {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  font-size: 20px;
  margin-bottom: 8px;
}

nav div p {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Arimo", Helvetica, sans-serif;
}

nav .separator {
  width: 20px;
}

header h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

header h4 {
  margin-top: 0;
}

header img {
  margin-top: 60px;
}

#header-ruler {
  margin: 0;
  border: 0;
  height: 2px;
  min-width: 700px;
  background: #f90;
  background-image: -webkit-linear-gradient(left, #fff, #f90, #fff);
  background-image:    -moz-linear-gradient(left, #fff, #f90, #fff);
  background-image:     -ms-linear-gradient(left, #fff, #f90, #fff);
  background-image:      -o-linear-gradient(left, #fff, #f90, #fff);
  /* http://css-tricks.com/examples/hrs/ */
}

a {
  text-decoration: none;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -khtml-transition: color .3s ease;
  -webkit-transition: color .3s ease;
  -ms-transition: color .3s ease;
  transition: color .3s ease;
}

/* unvisited link */
a:link {
  color: #cc7a00;
}

/* visited link */
a:visited {
    color: #cc7a00;
}

/* mouse over link */
a:hover {
    color: #f90;
}

/* selected link */
a:active {
    color: #f90;
}

nav a:link {
  color: #000;
}

/* visited link */
nav a:visited {
    color: #000;
}

/* mouse over link */
nav a:hover {
    color: #cc7a00;
}

/* selected link */
nav a:active {
    color: #cc7a00;
}

header {
  width: 480px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: "Droid Serif", Georgia, serif;
}

.welcome {
  margin-top: 2rem;
}

section {
  max-width: 800px;
  margin-left: 40px;
  margin-right: 20px;
  padding-top: 5px;
  font-family: "Droid Serif", Georgia, serif;
}

section h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 15px;
}

section h4.intro {
  margin-top: 1rem;
}

section ul {
  margin-top: 20px;
  margin-bottom: 5px;
}

section.subsection h4 {
  font-size: 24px;
  margin-bottom: 0px;
}

section.subsection p {
  font-size: 20px;
}
section.subsection li {
  font-size: 20px;
}

ul.service-list {
  list-style-type: none;
  padding: 15px 0 0 0;
  margin: 5px 0 0 0;
}

li.service-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px 0;
}

#kapcsolat p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

#kapcsolat p.title {
  margin-bottom: 5px;
  font-size: 20px;
}

#kapcsolat p.subtitle {
  margin-bottom: 0.7rem;
}

#magyar-partner, #szlovak-partner, #magyar-iroda, #szlovak-iroda {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.two-column {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fancy-separator {
  margin-top: 0;
  border-bottom: solid 2px #f90;
  margin-bottom: 1rem;
}


.slider-par {
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px 3px #000;
  margin-top: 1rem;
}

#footer-container {
  margin: 50px 0 0 0;
  background-color: #e8e8e8;
  background-image: url("../img/repeatable-bkg-light.jpg");
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

footer {
  font-family: "Droid Serif", Georgia, serif;
}

footer p {
    font-size: 16px;
    margin: 30px 0 0 0;
    text-align: center;
}

#social-buttons-container {
  width: 260px;
  margin: 0 auto;
}

#share-buttons img {
  width: 50px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

@media screen and (max-width: 700px){
  nav {
    width: 400px;
    padding-left: 5px;
  }

  nav .separator {
    width: 12px;
  }

  nav div p {
    font-size: 12px;
  }

  #header-ruler {
    min-width: 400px;
  }

  header {
    width: 100%;
    max-width: 700px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  section {
    max-width: 700px;
  }

  section section {
    margin-left: 0;
    margin-right: 0;
  }

  #magyar-partner, #szlovak-partner, #magyar-iroda, #szlovak-iroda {
    width: 70%;
  }

  header h2 {
    font-size: 24px;
  }

  header h4 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 22px;
  }

}

@media screen and (max-width: 400px){
  nav {
    width: 300px;
    padding-left: 0;
  }

  nav .separator {
    width: 11px;
  }

  nav div p {
    font-size: 9px;
  }

  #header-ruler {
    min-width: 300px;
  }

  header {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  section {
    max-width: 400px;
  }

  section section {
    margin-left: 0;
    margin-right: 0;
  }

  #magyar-partner, #szlovak-partner, #magyar-iroda, #szlovak-iroda {
    width: 70%;
  }

  header h2 {
    font-size: 24px;
  }

  header h4 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 22px;
  }

}
