
/* To secure correct behavior in older browsers */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
  margin: 0;
  padding: 0;
}

#header-container {
  /*background-color: #e8e8e8;*/
  margin: 0;
 background-image: url("../img/repeatable-bkg-light.jpg");
}

nav {
  width: 480px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  font-size: 0;
}

nav div {
  display: inline-block;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 22px;
}

nav div p {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Arimo", Helvetica, sans-serif;
}

nav .separator {
  width: 20px;
}

header h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

header h4 {
  margin-top: 0;
}

#header-ruler {
  margin: 0;
  border: 0;
  height: 2px;
  min-width: 700px;
  background: #f90;
  background-image: -webkit-linear-gradient(left, #fff, #f90, #fff);
  background-image:    -moz-linear-gradient(left, #fff, #f90, #fff);
  background-image:     -ms-linear-gradient(left, #fff, #f90, #fff);
  background-image:      -o-linear-gradient(left, #fff, #f90, #fff);
  /* http://css-tricks.com/examples/hrs/ */
}

a {
  text-decoration: none;
  -o-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -khtml-transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #f90;
}

/* selected link */
a:active {
    color: #f90;
}

header {
  width: 480px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: "Droid Serif", Georgia, serif;
}

section {
  max-width: 800px;
  /*margin: 0 auto;*/
  margin-left: 40px;
  margin-right: 20px;
  font-family: "Droid Serif", Georgia, serif;
}

section h4 {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.fancy-separator {
  margin-top: 0;
  border-bottom: solid 2px #f90;
}

.slider-par {
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px 3px #000;
}

@media (max-width: 600px) {
  section {
    max-width: 400px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  nav div p {
    font-size: 12px;
  }

  header {
    width: 400px;
  }

  #header-ruler {
  min-width: 480px;
}
