
/* To secure correct behavior in older browsers */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}


nav {
  width: 700px;
  margin: 10px auto 0 auto;
  padding: 0;
  font-size: 0;
  /*border-bottom: solid 1px #ff9900;*/
}

nav div {
  display: inline-block;
  width: 20%;
  /*min-width: 100px;*/
}

nav div p {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Arimo", Helvetica, sans-serif;
}

#main p {
  color: #f90;
}
nav .separator {
  min-width: 20px;
  max-width: 100px;
  width: 6%;
}

hr {
  margin: 2px;
  border: 0;
  height: 2px;
  min-width: 700px;
  background: #f90;
  background-image: -webkit-linear-gradient(left, #fff, #f90, #fff);
  background-image:    -moz-linear-gradient(left, #fff, #f90, #fff);
  background-image:     -ms-linear-gradient(left, #fff, #f90, #fff);
  background-image:      -o-linear-gradient(left, #fff, #f90, #fff);
  /* http://css-tricks.com/examples/hrs/ */
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #fc0;
}

/* selected link */
a:active {
    color: #f90;
}

