
/* To secure correct behavior in older browsers */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
  margin: 0;
  padding: 0;
}

#header-container {
  background-color: #f8f8f8;
  margin: 0;
  background-image: url("../img/repeatable-bkg.jpg");
}

nav {
  width: 480px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  font-size: 0;
}

nav div {
  display: inline-block;
}

nav div p {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Arimo", Helvetica, sans-serif;
}

nav .separator {
  width: 20px;
}

hr {
  margin: 4px;
  border: 0;
  height: 2px;
  min-width: 700px;
  background: #f90;
  background-image: -webkit-linear-gradient(left, #fff, #f90, #fff);
  background-image:    -moz-linear-gradient(left, #fff, #f90, #fff);
  background-image:     -ms-linear-gradient(left, #fff, #f90, #fff);
  background-image:      -o-linear-gradient(left, #fff, #f90, #fff);
  /* http://css-tricks.com/examples/hrs/ */
}

/*
div {
  border: solid 1px black;
}
*/
a {
  text-decoration: none;
  -o-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -khtml-transition: color .5s ease;
  -webkit-transition: color .5s ease;
  -ms-transition: color .5s ease;
  transition: color .5s ease;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #fc0;
}

/* selected link */
a:active {
    color: #f90;
}

header {
  width: 480px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: "Droid Serif", Georgia, serif;
}

/*
header h2 {
  padding-top: 20px;
}
*/

section {
  width: 800px;
  margin: 0 auto 0 auto;
  font-family: "Droid Serif", Georgia, serif;
}
