
/* To secure correct behavior in older browsers */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}


nav {
  width: 700px;
  margin: 5px auto 0 auto;
  padding: 0;
  font-size: 0;
  border-bottom: solid 1px #ff9900;
}

nav div {
  display: inline-block;
  width: 20%;
  /*min-width: 100px;*/
}

nav div p {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Arimo", Helvetica, sans-serif;
}

nav .separator {
  min-width: 20px;
  max-width: 100px;
  width: 6%;
}
